// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #282828;
$white: #ffffff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$darkpink: #d92b77;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f7ab38;
$orange-opacity: rgba(248, 175, 52, .5);
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$box-top-shadow: 2rem 0 2rem 0 rgb(136 152 170 / 15%) !important;
$box-shadow: 0 0 15px 0 rgb(136 152 170 / 15%) !important;